<div class="container">
  <h3>Add a movie to your <%= @list.name %> list</h3>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment, placeholder: "Enter a comment about the movie" %>
    <%= f.association :movie, collection: Movie.all %>
    <%= f.submit class: "btn btn-flat" %>
  <% end %>
</div>
